/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul,ol,li{
    list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* LAYOUT */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.second-box{
    max-width: 700px;
	margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-50{
    width: 50%;
}

.col-25{
    width: 25%;
}

.col-70{
    width: 70%;
}

.col-30{
    width: 30%;
}

.col-100{
    width: 100%;
}

.col-16{
    width: calc(100% / 6);
}

.col-1{
    max-height:15px ;
}

.two-col{
    display: flex;
    gap: 15px;
    align-items: center;
}

/* STILI GENERALI */
.second-box .row{
    justify-content: center;
}

.four-box .row{
    flex-direction: row-reverse;
}

.col-16.col-et{
    flex-grow: 1;
}

.justify-content-between{
    justify-content:space-between ;
}

.bg-header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

.bg-blue{
    background-color: #7289DB;
}

.font-color-white{
    color: white;
}

.second-box .gap{
    gap: 20px;
}

.gap{
    gap: 10px;
}

.ft-size-large{
    font-size: large;
}

.ft-size-big-large{
    font-size: 50px;
}

.ft-size-big{
    font-size: 35px;
}

.pd-5{
    padding: 10px 30px
}

.pd-4{
    padding: 5px 15px;
}

.border-radius{
    border-radius: 50px;
}

.margin-top-20{
    margin-top: 20px;
}

.pd-bottom{
    padding-bottom: 10px;
}

.pd-bottom-100{
    padding-bottom: 100px;
}

.pd-top-10{
    padding-top: 10px;
}

.pd-top-100{
    padding-top: 100px;
}

.min-height-header{
    min-height: 300px;
}

.min-height-footer{
    min-height: 80px;
}

.justify-content-center{
    justify-content: center;
}

.text-align-center{
    text-align: center;
}

.align-items-center{
    align-items: center;
}

.bg-footer{
    background-color: rgb(35, 39, 42);
}

.color-title-list-footer{
    color: #7289DB;
}

.max-height{
    max-height: 20px;
}

.border-top-white{
    border-top: 1px solid rgba(255, 255, 255, 0.236);
}

.flex-direction-column{
    flex-direction: column;
}




















/* DEBUG */
.debug .container {
	/* border: 2px solid black; */
}

.debug .box{
    background-color: aqua;
}

.debug .row {
	/* border: 2px solid red; */
	padding: 20px;
}

.debug [class^='col'] {
	/* border: 2px solid cornflowerblue; */
	padding: 20px;
	min-height: 20px;
}

.debug .one-col,.debug .two-col,.debug .three-col{
    background-color: yellowgreen;
}

.debug .second-box{
    background-color: blue;
}

.debug .color-pink{
    background-color: rgb(255, 192, 203);
}

.debug .color-blue{
    background-color: blue;
}

.debug .second-box .col-100{
    width: 500px;
    height: 100px;
    background-color: pink;
}

.debug .col-size{
    min-height: 150px;
}

.debug .strip{
    background-color: lightgrey;
}

.debug .strip .col-100{
    height: 250px;
    background-color: green;
}

.debug .col-16.col-et{
    background-color: pink;
    height: 150px;
}

.debug .col-16{
    background-color: aquamarine;
}

.debug .col-1{
    background-color: yellow;
}

.debug footer{
    background-color: gray;
}

.debug .lines-foot{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.debug1 .container{
    border: 3px solid red;
}

.debug1 .row{
    border: 3px solid black;
}

.bg-waves{
    border-image: url(../img/wave.svg);
}